<?xml version="1.0" encoding="utf-8"?>
<UserProfile xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <sConnectId xmlns="http://pbswebservice.broadviewsoftware.com/BVWebService">RSYED</sConnectId>
  <sExternalEmail xmlns="http://pbswebservice.broadviewsoftware.com/BVWebService">PBSTESTING@pbs.org</sExternalEmail>
  <sFirstName xmlns="http://pbswebservice.broadviewsoftware.com/BVWebService">BroadView</sFirstName>
  <sLastName xmlns="http://pbswebservice.broadviewsoftware.com/BVWebService">ProxyTest</sLastName>
  <oOperatingGroup xmlns="http://pbswebservice.broadviewsoftware.com/BVWebService">
    <sCode>Administrators</sCode>
    <sCode>Users</sCode>
  </oOperatingGroup>
  <nOperatingUnit xmlns="http://pbswebservice.broadviewsoftware.com/BVWebService">369</nOperatingUnit>
  <nUnitType xmlns="http://pbswebservice.broadviewsoftware.com/BVWebService">1</nUnitType>
  <sPhoneNumber xmlns="http://pbswebservice.broadviewsoftware.com/BVWebService"></sPhoneNumber>
  <nRole xmlns="http://pbswebservice.broadviewsoftware.com/BVWebService">1</nRole>
</UserProfile>
