<?xml version="1.0" encoding="utf-8"?>
<UserProfile xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <sConnectId>brboggio</sConnectId>
  <sExternalEmail>brboggio@pbs.org</sExternalEmail>
  <sFirstName>bryan</sFirstName>
  <sLastName>boggio</sLastName>
  <oOperatingGroup>
    <sCode>Administrators</sCode>
    <sCode>Users</sCode>
  </oOperatingGroup>
  <nOperatingUnit>369</nOperatingUnit>
  <nUnitType>1</nUnitType>
  <sPhoneNumber></sPhoneNumber>
  <nRole>1</nRole>
</UserProfile>